<ul class="wpui-menu" id="leftmenu">
	<li>
		<a href="/"><i class="fa fa-home"></i>首页</a>
	</li>
	<li class="dropdown">
		<span>主题</span>
		<ul>
			<li><a href="/demos/color.html">颜色</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<span>基本元素</span>
		<ul>									
			<li><a href="/demos/button.html">按钮(button)</a></li>
			<li><a href="/demos/tab.html">选项卡(tab)</a></li>
			<li><a href="/demos/nav.html">导航(nav)</a></li>
			<li><a href="/demos/accordion.html">折叠面板(accordion)</a></li>
			<li><a href="/demos/cardview.html">卡片视图(cardview)</a></li>			
			<li><a href="/demos/badge.html">徽章(badge)</a></li>
			<li><a href="/demos/progress.html">进度条(progress)</a></li>
			<li><a href="/demos/onoff.html">开关(onoff)</a></li>
			<li><a href="/demos/radiobutton.html">单选框(radiobutton)</a></li>
			<li><a href="/demos/checkbox.html">复选框(checkbox)</a></li>
			<li><a href="/demos/form.html">表单(form)</a></li>
			<li><a href="/demos/table.html">表格(table)</a></li>
			<li><a href="/demos/timeline.html">时间轴(timeline)</a></li>
			<li><a href="/demos/transition.html">过渡动画(transition)</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<span>组件</span>
		<ul>
			<li><a href="/demos/dialog.html">对话框(dialog)</a></li>
			<li><a href="/demos/modal.html">模态框(modal)</a></li>
			<li><a href="/demos/drag.html">元素拖动(drag)</a></li>
			<li><a href="/demos/carousel.html">轮播图(carousel)</a></li>
			<li><a href="/demos/datepick.html">日期时间选择(datepick)</a></li>
			<li><a href="/demos/pagination.html">分页(pagination)</a></li>
			<li><a href="/demos/tooltip.html">工具提示(tooltip)</a></li>
			<li><a href="/demos/slidebar.html">滑块(slidebar)</a></li>
		</ul>
	</li>
	<li>
		<a href="/demos/other.html">其他</a>
	</li>
</ul>